* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #d2d2d2;
}

/* ÁREA PRINCIPAL */
.conteudo {
    padding: 40px;
}

/* GRUPOS E FORMULÁRIOS */
.opcoes {
    background: #000;
    color: #f4b400;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.grupo {
    margin-bottom: 20px;
}

.grupo h3 {
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1rem;
}

/* TÍTULO */
.titulo-modelo h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

/* CARRO */
.visual-carro {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.visual-carro img {
    width: 650px;
    border: 3px solid #000;
    border-radius: 6px;
}

/* PREÇO */
.preco {
    background: #000;
    color: #f4b400;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.preco h2 {
    font-size: 2rem;
}
