* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #d2d2d2;
}

/* CAIXA DOS MODELOS – agora é um formulário normal */
.menu-modelos {
    width: 100%;
    background: #000;
    padding: 20px;
    color: #f4b400;
    border-radius: 10px;
    margin-bottom: 30px;
}

.menu-modelos h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.menu-modelos ul {
    list-style: none;
}

.menu-modelos li {
    padding: 12px 10px;
    margin-bottom: 10px;
    background: #111;
    border-left: 3px solid transparent;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.menu-modelos li:hover {
    background: #222;
    border-left: 3px solid #f4b400;
}

.conteudo {
    padding: 40px;
    width: 100%;
}

/* TÍTULO */
.titulo-modelo h1 {
    font-size: 2.5rem;
    color: #000;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

/* IMAGEM */
.visual-carro {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.visual-carro img {
    width: 650px;
    height: auto;
    border: 3px solid #000;
    border-radius: 6px;
}

/* OPÇÕES FORM */
.opcoes {
    background: #000;
    color: #f4b400;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.grupo {
    margin-bottom: 20px;
}

.grupo h3 {
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1rem;
}

/* PREÇO */
.preco {
    text-align: center;
    background: #000;
    color: #f4b400;
    padding: 20px;
    border-radius: 10px;
}

.preco h2 {
    font-size: 2rem;
}
